.navbar{
  background-color: rgb(30, 7, 52);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer{
  background-color: rgb(30, 7, 52);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5px;
}